@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 580px
  .card
    width: 225px
    height: 225px

@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    width: 133px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &-slider
      width: 100%
    &__slider
      margin-bottom: 30px
    &-inner
      flex-direction: row
  .packages
    &-wrapper
      grid-template-columns: 1fr 1fr
  .booking
    width: 340px
  .map
    width: 340px
  .newsletter
    &-wrapper
      max-width: 700px
  .reviews
    padding-bottom: 60px
    &__title
      margin-bottom: 50px
      font-size: 30px
      line-height: 38px
    &-slider
      &__item
        max-width: 580px
        padding: 0 60px 30px
      &__button
        &--prev
          left: 0
        &--next
          right: 0
  .activities
    padding-bottom: 70px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
      &:nth-last-child(-n+2)
        margin-bottom: 0
  .card
    width: 48.5%
    height: 255px

@media (max-width: 768px)
  .container
    max-width: 576px
    width: 87.5%
  .navbar
    &__search, &__user, &-menu
      display: none
  .menu
    &-button
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      width: 16px
      height: 11px
      border: none
      outline: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        padding: 0
        background-color: $text-color
  .hotel
    padding-top: 5px
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-name
      flex-basis: 100%
    &-inner
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .packages
    padding-bottom: 60px
    &-wrapper
      grid-template-columns: 100%
    &__card
      &--wide
        flex-direction: column
        grid-column-start: 1
        grid-column-end: 2
        .packages-image
          width: 100%
          max-height: 250px
        .packages-info
          width: 100%
          min-height: 100%
          padding: 20px
    &-title
      margin-bottom: 50px
      font-size: 26px
      line-height: 32px
    &-book
      flex-direction: column
      justify-content: flex-start
      align-items: start
      &__button
        max-width: 100%
        width: 100%
    &-prices
      margin-bottom: 15px
    &-info
      padding: 30px
      height: 100%
      &__text
        margin-bottom: 20px
      &__title
        margin-bottom: 20px
      &__book
        margin-top: 20px
  .stars
    flex-basis: auto
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      flex-direction: column
      align-items: flex-start
      width: 87.5%
    &__title
      margin-bottom: 37px
      max-width: 100%
  .subscribe
    max-width: 100%
  .reviews
    &__title
      font-size: 26px
      line-height: 32px
    &-slider
      &__item
        padding: 0 30px 30px
        &::before, &::after
          display: none
      &__button
        top: 45px
        &--prev
          left: 50%
          transform: translate(-50%, -50%)
          margin-left: -80px
        &--next
          right: 50%
          transform: translate(50%, -50%)
          margin-right: -80px

@media (max-width: 576px)
  .logo
    width: 99px
  .navbar
    &-top
      padding-top: 28px
      padding-bottom: 28px
  .hotel
    &-grid
    &-slider
      height: 180px
    &__slider
      margin-bottom: 20px
  .packages
    &-title
      margin-bottom: 42px
      font-size: 18px
      line-height: 23px
  .newsletter
    padding-top: 76px
    padding-bottom: 83px
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        margin-top: 5px
        font-size: 30px
        line-height: 38px
  .subscribe
    width: 100%
  .reviews
    padding-bottom: 50px
    &__title
      margin-bottom: 42px
      padding: 0 18px
      font-size: 18px
      line-height: 23px
  .activities
    padding-top: 40px
    padding-bottom: 60px
    &__title
      margin-bottom: 36px
      font-size: 18px
      line-height: 23px
    &__card
      margin-bottom: 20px
      &:nth-last-child(2)
        margin-bottom: 20px
      &:last-child
        margin-bottom: 0
  .card
    width: 100%
    height: 255px
