.packages
  padding-top: 40px
  padding-bottom: 70px
  &-title
    margin-top: 0
    margin-bottom: 65px
    text-align: center
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-transform: uppercase
    word-break: break-word
  &-wrapper
    display: grid
    grid-gap: 30px 30px
    grid-template-columns: 1fr 1fr 1fr
  &-card
    display: flex
    flex-direction: column
    height: 500px
    border-radius: 8px
    overflow: hidden
  &__card
    &--wide
      flex-direction: row
      grid-column-start: 1
      grid-column-end: 3
      .packages-image
        width: 50%
        height: 100%
      .packages-info
        width: 50%
        height: 100%
        padding: 46px 21px 30px 44px
  &-image
    position: relative
    width: 100%
    height: 50%
    &__wrapper
      width: 100%
      height: 100%
    &__photo
      display: block
      width: 100%
      height: 100%
      object-fit: cover
    &__offer
      position: absolute
      top: 26px
      left: 0

      display: block
      max-width: 100%
      height: auto
      padding: 4px 9px

      font-weight: 600
      font-size: 8px
      line-height: 10px
      color: $light
      background-color: $primary
      border-radius: 0px 4px 4px 0px
      word-break: break-word
      &--wide
        padding: 8px 21px 8px 11px
        font-size: 12px
        line-height: 15px

  &-info
    display: flex
    flex-direction: column
    justify-content: flex-start
    width: 100%
    height: 50%
    padding: 30px 21px 25px 32px
    background-color: $dark
    color: $light
    &__book
      margin-top: auto
      margin-bottom: 0
    &__stars
      margin-bottom: 5px
    &__title
      margin-top: 0
      margin-bottom: 23px
      font-weight: bold
      font-size: 18px
      line-height: 23px
      word-break: break-word
      &--wide
        margin-bottom: 27px
    &__text
      margin-top: 0
      margin-bottom: 45px
      font-weight: normal
      font-size: 14px
      line-height: 22px
      word-break: break-word
  &-stars
    display: flex
    align-items: center
    &__star
      width: 8px
      height: 8px
      margin-right: 2px
  &-booking
    &__text
      display: flex
      align-items: center
      margin-bottom: 11px
      font-weight: normal
      font-size: 12px
      line-height: 15px
      word-break: break-word
      &:last-child
        margin-bottom: 0
    &__icon
      margin-right: 14px

  &-book
    display: flex
    justify-content: space-between
    align-items: flex-end
    &__button
      padding: 11px 27px
      max-width: 50%
      border-radius: 4px
      font-family: 'Nunito', sans-serif
      font-weight: 600
      font-size: 14px
      line-height: 19px
      @include button-primary ()
  &-prices
    display: flex
    flex-direction: column
    &__price
      margin-bottom: 5px
      word-break: break-word
      &--old
        font-weight: normal
        font-size: 14px
        line-height: 18px
        text-decoration-line: line-through
      &--new
        font-weight: bold
        font-size: 24px
        line-height: 30px
